In [63]:
def fizzBuzz(n):
    # Write your code here
    for i in range(n):
        j = i + 1
        #print("now on",j)
        if  j%3 == 0 and j%5 == 0:
            print("FizzBuzz")        
        elif j%3 == 0:
                print("Fizz")
        elif j%5 == 0:
                print("Buzz")
        if j%3 != 0 and j%5 != 0:
            print(j)

In [2]:
n=15

In [64]:
fizzBuzz(n)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz

In [26]:
1%3

1

In [27]:
1%3 == 0

False

In [2]:
import numpy as np

In [70]:
a=1
b=4
c=5
d=9

In [113]:
def isPossible(a, b, c, d):
    # Write your code here
    found_match = []
    a_to_c = np.arange(a,c+1)
    b_to_d = np.arange(b,d+1)
    for i in range(a_to_c.size):
        if (a_to_c[0] + a_to_c[i]) == d:
            found_match.append([a_to_c[0],a_to_c[i]])
        elif (a_to_c[0] + b_to_d[i]) == d:
            found_match.append([a_to_c[0],b_to_d[i]])
        elif (a_to_c[0] + a_to_c[i]) == c:
            found_match.append([a_to_c[0],a_to_c[i]])
        elif (a_to_c[0] + b_to_d[i]) == d:
            found_match.append([a_to_c[0],b_to_d[i]])
    for j in range(len(found_match)):
        if found_match[j][0]+found_match[j][1] == c:
            return("Yes")
        else:
            return("no")

In [114]:
isPossible(a,b,c,d)

'Yes'

In [118]:
samples= [[1, 1, 1],[1, 1, 0],[1, 0, 1]]

In [119]:
def largestArea(samples):
    # Write your code here
    n = len(samples)
    box = []
    where_1 = []
    longest_x = 0
    longest_y = 0
    for i in range(n):
        box.append(samples[i])
    for y in range(n):
        for x in range(n):
            
            if box[y][x] == 1:
                where_1.append(([y],[x]))
    for j in range(len(where_1):

[[1, 1, 1], [1, 1, 0], [1, 0, 1]]

In [1]:
3//5

0

In [ ]:
"define if leap year"

In [ ]:
def is_leap(year):
    leap = False
    
    if year%400 ==0:
        leap = True
    elif year%4 == 0:
        if year%100 == 0:
            leap = False
        else:
            leap = True
    else:
        leap = False        
    
    return leap

In [ ]:
"print string of numbers of a range"

In [ ]:
n=inputvalue
s = ""
for i in range(n):
    s=s+str(i+1)
print(s)

In [ ]:
"sorting columns as a spreadsheet" - "with numpy"

In [73]:
arr = [[10,2,5],[7,1,0],[9,9,9],[1,23,12],[6,5,9]]
k = 1
n = 5
m = 3
print(arr)

[[10, 2, 5], [7, 1, 0], [9, 9, 9], [1, 23, 12], [6, 5, 9]]

In [47]:
numpy_arr = np.asarray(arr)
rank = np.argsort(numpy_arr[...,k])
sorted_arr = []
for i in range(n):
    sorted_arr.append(arr[rank[i]])
print(sorted_arr)

[[7, 1, 0], [10, 2, 5], [6, 5, 9], [9, 9, 9], [1, 23, 12]]

In [48]:
"without numpy"

'without numpy'

In [52]:
arr[0][k]

2

In [85]:
to_sort = []
for i in range(n):
    to_sort.append(arr[i][k])
sorted_list = sorted(to_sort)
#print(sorted_list)
sorted_arr = []
for i in range(n):
    for j in range(n):
        #print(sorted_list[i],",",arr[j][k])  
        if sorted_list[i] == arr[j][k]:
            #print("j=",j)
            #print(arr[j])
            sorted_arr.append(arr[j])
            break
print(sorted_arr)

[[7, 1, 0], [10, 2, 5], [6, 5, 9], [9, 9, 9], [1, 23, 12]]

In [77]:
sorted_list

[1, 2, 5, 9, 23]

In [33]:
print(np.delete(numpy_arr,3, axis =0))

[[10  2  5]
 [ 7  1  0]
 [ 9  9  9]
 [ 6  5  9]]

In [88]:
for i in range(n):
    sep = " "
    print(sep.join(str(s) for s in sorted_arr[i]))
    #printing without seperation

7 1 0
10 2 5
6 5 9
9 9 9
1 23 12

In [90]:
    N, M = map(int, input().split())#takes input parameters as n and m
    rows = [input() for _ in range(N)]#saves rows as strings in a list
    K = int(input())#takes final input for which row to sort

    for row in sorted(rows, key=lambda row: int(row.split()[K])): 
        #sort by splitting row and taking the kth element
        print(row)#string will be without  commas

ValueError: not enough values to unpack (expected 2, got 0)

In [91]:
"confusing one, check that there is a palindromic number and that all values are positive"

'confusing one, check that there is a palindromic number and that all values are positive'

In [109]:
x = 5
y = "12 9 61 5 14"
y2 = [12,9,61,5,14]
y3 = map(int,y.split(" "))

In [110]:
all(flag > 0 for flag in y3)

True

In [114]:
any(num == num[::-1] for num in y)

True

In [116]:
"solution for hackerrank"
x=input()
y_str=input().split(" ")
y_int= map(int,y_str)
#print(y_str)
#print(y_int)
if (all(flag > 0 for flag in y_int)) and (any(num == num[::-1] for num in y_str)):
    print("True")
else:
    print("False")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
"much shorter version for hackerrank"
n, y=int(input()),input().split(" ")
if (all(int(i) > 0 for i in y)) and (any(j == j[::-1] for j in y)):
    print("True")
else:
    print("False")

In [118]:
if (all(flag > 0 for flag in y3)) and (any(num == num[::-1] for num in y)):
    print("True")
else:
    print("False")

True

In [ ]:
"shortest solution on hackerrank"
N,n = int(raw_input()),raw_input().split()
print all([int(i)>0 for i in n]) and any([j == j[::-1] for j in n])

In [ ]:
"full palindrome"

In [1]:
x = 777666777

In [5]:
x_s=str(x)
if x_s == x_s[::-1]:
    print(1)
else:
    print(0)

1

In [ ]:
"find o in phrase"

In [15]:
phrase= "hi mom is old"
look = "o"

In [19]:
found = 0
for i in range(len(phrase)):
    if phrase.find(look,i,i+1)!= -1:
        found+=1
print(found)

2

In [18]:
found = 0
for i in range(len(phrase)):
    print(phrase.find(look,i,i+1))

-1
-1
-1
-1
4
-1
-1
-1
-1
-1
10
-1
-1

In [20]:
"print even numbers of an array"

'print even numbers of an array'

In [21]:
list= [0,1,2,3,4,5,6,7,8,9]
result = 20

In [24]:
sum = 0
for i in list:
    if i%2 ==0:
        sum+=list[i]
print(sum)

20

In [1]:
"sort numbers then give the second highest number that isnt doubled"

'sort numbers then give the second highest number that isnt doubled'

In [2]:
n=5
arr=[2,3,6,6,5]

In [19]:
sort_arr = sorted(arr)
max_no=sort_arr[-1]
for i in range(n):
    if sort_arr[-(i+1)] != max_no:
        print(sort_arr[-(i+1)])
        break

5

In [4]:
print(sort_arr)

[2, 3, 5, 6, 6]

In [6]:
print(max_no)

6

In [7]:
arr[-0]

2

In [20]:
"Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students," 
"order their names alphabetically and print each one on a new line."

'Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students, order their names alphabetically and print each one on a new line.'

In [21]:
students  = [[input(),input()] for _ in range(int(input()))]

Harry 37.21 Berry 37.21 Tina 37.2 Akriti 41 Harsh 39

ValueError: invalid literal for int() with base 10: 'Harry 37.21 Berry 37.21 Tina 37.2 Akriti 41 Harsh 39'

In [80]:
students = [['Harry', '37.21'], ['Berry', '37.21'], ['Tina', '37.2'], ['Akriti', '41'], ['Harsh', '39']]
print(students)

[['Harry', '37.21'], ['Berry', '37.21'], ['Tina', '37.2'], ['Akriti', '41'], ['Harsh', '39']]

In [75]:
students = [['Prashant','52.22'],['Kush','52.223'],['Kant','52.222'],['Kanti','52.2222'],['Harshit','52.22222']]
print(students)

[['Prashant', '52.22'], ['Kush', '52.223'], ['Kant', '52.222'], ['Kanti', '52.2222'], ['Harshit', '52.22222']]

In [84]:
students = [['Sona','-25.001'],['Mona','-25.0001'],['Mini','-25.000'],['Rita','-25.0']]
print(students)

[['Sona', '-25.001'], ['Mona', '-25.0001'], ['Mini', '-25.000'], ['Rita', '-25.0']]

In [91]:
sort_students = sorted(students, key=lambda student: float(student[1]))
min_grade = sort_students[0][1]
for student in sort_students:
    if student[1] != min_grade:
        sec_min_grade = student[1]
        print(sec_min_grade)
        break
for student in sorted(students):
    if sec_min_grade == student[1]:
        print(student[0])

-25.0001
Mona

In [31]:
students[0][1]

'37.21'

In [90]:
sorted(students, key=lambda student: float(student[1]))

[['Sona', '-25.001'],
 ['Mona', '-25.0001'],
 ['Mini', '-25.000'],
 ['Rita', '-25.0']]

In [66]:
for student in students:
    if sec_min_grade in student[1]:
        print(student[0])

Harry
Berry

In [92]:
"hackerrank input"
students  = [[input(),input()] for _ in range(int(input()))]
sort_students = sorted(students, key=lambda student: float(student[1]))
for student in sort_students:
    if student[1] != sort_students[0][1]:
        sec_min_grade = student[1]
        break
for student in sorted(students):
    if sec_min_grade == student[1]:
        print(student[0])

ValueError: invalid literal for int() with base 10: ''

In [ ]:
"take list of students, take student and find average of theyre grades to 2 decimal places"

In [95]:
students = [['Krishna', '67', '68', '69'], ['Arjun', '70', '98', '63'], ['Malika', '52', '56', '60']]
query_name = 'Malika'

In [111]:
#students  = [input().split(" ") for _ in range(int(input()))]
#query_name = input()
import math
for student in students:
    if student[0] == query_name:
        print("%.2f" % ((float(student[1])+float(student[2])+float(student[3]))/3))

56.00

In [112]:
"apply the following actions to a list"

'apply the following actions to a list'

In [122]:
commands = [['insert', '0', '5'], ['insert', '1', '10'], ['insert', '0', '6'], ['print'], ['remove', '6'], ['append', '9'], ['append', '1'], ['sort'], ['print'], ['pop'], ['reverse'], ['print']]
print(commands)

[['insert', '0', '5'], ['insert', '1', '10'], ['insert', '0', '6'], ['print'], ['remove', '6'], ['append', '9'], ['append', '1'], ['sort'], ['print'], ['pop'], ['reverse'], ['print']]

In [157]:
list = []
for command in commands:
    task = command[0]
    if task == 'insert':
        eval('list.'+str(task)+str('(')+str(command[1])+str(',')+str(command[2])+str(')'))
    if task == 'append' or task == 'remove':
        eval('list.'+str(task)+str('(')+str(command[1])+str(')'))
    if task == 'sort'or task == 'reverse' or task == 'pop':
        eval('list.'+str(task)+str('(')+str(')'))
    if task == "print":
        print(list)

[6, 5, 10]
[1, 5, 9, 10]
[9, 5, 1]

In [137]:
list.insert(0,5)

In [150]:
a="sort()"

In [154]:
eval('a.)

AttributeError: 'list' object has no attribute 'a'

In [158]:
"submitted to hackerrank"
commands = [input().split(" ") for _ in range(int(input()))]
list = []
for command in commands:
    task = command[0]
    if task == 'insert':
        eval('list.'+str(task)+str('(')+str(command[1])+str(',')+str(command[2])+str(')'))
    if task == 'append' or task == 'remove':
        eval('list.'+str(task)+str('(')+str(command[1])+str(')'))
    if task == 'sort'or task == 'reverse' or task == 'pop':
        eval('list.'+str(task)+str('(')+str(')'))
    if task == "print":
        print(list)

ValueError: invalid literal for int() with base 10: ''

In [1]:
"put dashes in between the letters in this string"

'put dashes in between the letters in this string'

In [2]:
string = "this is a string"

In [ ]:
def split_and_join(string):
    
    return string_